<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734931807048-h8rgum8hvs55j90ah0es8ficuha30na5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734931807048-h8rgum8hvs55j90ah0es8ficuha30na5</string>
	<key>API_KEY</key>
	<string>AIzaSyBuQ2OWLDCT8uYyOqGrWTdRLiKKnaGjtuI</string>
	<key>GCM_SENDER_ID</key>
	<string>734931807048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boxedApp</string>
	<key>PROJECT_ID</key>
	<string>boxed-562ab</string>
	<key>STORAGE_BUCKET</key>
	<string>boxed-562ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734931807048:ios:1c938744cec0eeededa17d</string>
</dict>
</plist>